<p id="notice"><%= notice %></p>

<table class="highlight">
  <thead>
    <tr>
      <th>Servicio</th>
      <th>Área</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @area.catalog.name %></td>
        <td><%= @area.name %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
