<p id="notice"><%= notice %></p>

<!-- <a data-js-hide-link="true" href="">Hide</a> -->
<h1>Items</h1>

<p>Para subir items selecciona un archivo .csv </p>
<div style="display: table-caption;">
  <%= form_tag import_items_path, multipart: true do%>
    <%= file_field_tag :file%>
    <%= submit_tag "Cargar items"%>
  <% end %>
</div>

<table class="highlight">
  <thead>
    <tr>
      <th>Servicio <%= link_to raw("<i class='material-icons left'>add</i>"), new_catalog_path %></th>
      <th>Área <%= link_to raw("<i class='material-icons left'>add</i>"), new_area_path %></th>
      <th>Items <%= link_to raw("<i class='material-icons left'>add</i>"), new_item_path %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.area.catalog.name%></td>
        <td><%= item.area.name %></td>
        <td><%= item.name %></td>
        <td>
          <div style="display: inline-flex;">
            <%= link_to item do %>
              <i class="material-icons left">clear_all</i>
            <% end %>
            <%= link_to edit_item_path(item) do %>
              <i class="material-icons left">edit</i>
            <% end %>
            <%= link_to item, method: :delete, data: { confirm: '¿Estás seguro de eliminar el elemento?' }  do %>
              <i class="material-icons left">delete</i>
            <% end %>
          </div>
           <!--  <a class='dropdown-trigger' href='#' data-target='crud_options'>...</a>
            <ul id='crud_options' class='dropdown-content'>
              <li><%= link_to 'Mostrar', item %></li>
              <li><%= link_to 'Editar', edit_item_path(item) %></li>
              <li><%= link_to 'Eliminar', item, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el elemento?' } %></li>
            </ul> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


