<p id="notice"><%= notice %></p>

<table class="highlight">
  <thead>
    <tr>
      <th>Servicio</th>
      <th>Área</th>
      <th>Item</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @item.area.catalog.name %></td>
        <td><%= @item.area.name %></td>
        <td><%= @item.name %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
